<h1>Chat Room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: [@chat, @message], remote: true do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit 'Send' %>
  </div>
<% end %>
<div id="chat-id" data-chat-id="<%= @chat.id %>"></div>
